@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background-color: #f0f0f0;
    width: 80%

}
#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    display: 0;
    font-size: 1.5rem;

}
#menu a{
    position: relative;
    padding: 6px;
    color: #444;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration: none;

}

/*================================================
Start Important Part
==================================================*/

.underline--magical {
    background-image: linear-gradient(120deg, #BD3D38 0%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;

}

.underline--magical:hover {
    background-size: 100% 88%;
}

/*================================================
End Important Part
==================================================*/
#wrapper{
    margin-left: 20%;
    margin-top:7rem;
    margin-bottom: 2rem;
}


.article-box-content{
    border-bottom: 1px dashed #444;
}



.page-title{
    color: #444;
    font-family: 'Xanh Mono';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6rem;
}

.h1-svg{
    width: 3rem;
}

.article-title{
    color: #444;
    font-family: 'Open Sans Condensed';
    font-size: 1.5rem;
}

.article-authors{
    color: #444;
    font-family: 'Open Sans Condensed';
    font-size: 1.1rem;
    font-style: italic;
}

.article-resumo{
    color: #444;
    font-family: 'Open Sans Condensed';
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.9rem;
}

.article-keywords{
    color: #444;
    font-family: 'Open Sans Condensed';
    font-size: 1rem;
}

.keywords-label{
    font-weight: bold;
}